<!DOCTYPE html>
<html lang="{{ site.lang | default: "en-US" }}">
<head>
  {% include meta.html %}
</head>
<body>
  <div id="app">
    {% include header.html %}
    <main>
      <span class="space1"></span>
        <x-col>
          <a href="/">< Home</a>
        </x-col>
      <x-grid columns="1">
        <h1>{{page.title}}</h1>
      </x-grid>
      <x-grid columns="1">
        <x-col>
          {{content}}
        </x-col>
      </x-grid>
    </main>
    <hr class=full>
    {% include footer.html %}
  </div>
</body>
</html>
