<!DOCTYPE html>
<html lang="{{ site.lang | default: "en-US" }}">
  <head>
    {% include meta.html %}
  </head>
  <body>
    <div id="app">
      <header id=intro class=center-axyz>
        <x-grid columns="2" columns-m="1">
        <x-col span="1">
        <a href="/about.html"><img src="/assets/img/profile.png" loading="lazy" style="max-width:140px"/></a>
        </x-col>
        <x-col span="1" as=center js=end>
        <h3>{{ site.textlogo }}</h3>
        </x-col>
        <x-col span=2><span class="space1"/></x-col>
        <x-col span=2 js=start><h2 style="color: var(--coolors-grey-hue-3);">Latest Posts</h2></x-col>
        {% for post in site.posts limit:3 %}
          <x-col span=1 ac=center js=start>
          <h4 style="margin:0px;">
          <a href="{{ post.url }}" class="no-style">{{ post.title }}</a>
          </h4>
          </x-col>
          <x-col span=1 as="center" js="end">
          {{post.date | date_to_string: "ordinal", "US" }}
          </x-col>
          <x-col span=1-2 class="excerpt">
          {{post.excerpt}}
          </x-col>
        {% endfor %}
        <x-col span=1><a href="/posts">See all posts ↦</a></x-col>
        </x-grid>
      </header>
    </div>
  </body>
</html>
