<!DOCTYPE html>
<html lang="{{ site.lang | default: "en-US" }}">
<head>
  {% include meta.html %}
</head>
<body>
  <div id="app">
    {% include header_post.html %}
    <main>
      <span class="space1"></span>
      <x-grid columns="1">
        <x-col>
          <a href="/posts">< Posts</a>
        </x-col>
        <x-col>
        <h1 style="margin-bottom:-10px">{{page.title}}</h1>
        </x-col>
        <x-col class="metadata">
          On {{page.date | date_to_string: "ordinal", "US" }} | {{page.tags | array_to_sentence_string }}
        </x-col>
        <x-col>
          {{content}}
        </x-col>
      <span class="space"></span>
        <x-col>
          <a href="/posts">< Posts</a>
        </x-col>
      </x-grid>
    </main>
    <hr>
    {% include footer_post.html %}
  </div>
</body>
</html>
